<body id="signUp">
  <div class="container backbox">
    <div class="row">
      <div class="col-5">
        <h1 id="signUpHeader">Sign up</h1>
      </div>
      <div class="col-6">
        <div class="signForm">
          <%= form_for @user do |f| %>
          <%= f.label "Email" %>
          <%= f.text_field :email %>
          <br>
          <br>
          <%= f.label "Password" %>
          <%= f.password_field :password %>
          <br>
          <br>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
          <br>
          <br>
          <%= f.submit "Sign Up" %>
        </div>
      <% end %>
      </div>
    </div>
    <h1 id="homeLink"><%= link_to "Back to Home", '/' %></h1>
  </div>
</body>