<body id="productShow">
  <div class="container backbox">
    <div class="row">
      <div class="col productImageFrame">
        <%= image_tag("#{Faker::LoremFlickr.image(search_terms: ["#{@product.name}"])}", width: "100px", class: "productPic") %>
      </div>
      <div class="col productPage">
        <br>
        <h1><%= @product.name %></h1>
        <br>
        <h2><%= @product.country_of_origin %>
        <br><br>
        <%= number_to_currency(@product.cost) %></h2>
        <br>
        <% if @product.reviews.any? %>
          <h4>Reviews:</h4>
          <% @product.reviews.each do |review| %>
            <ul>
              <li>
                <%= review.rating %>/5&nbsp;&nbsp;<%= link_to review.author, product_review_path(@product, review) %>
             </li>
            </ul>
          <% end %>
        <% else %>
          <h2>No reviews are listed for this product.</h2>
        <% end %>
      </div>
      <div class="row">
        <div class="col-4">
          <% if current_user %>
            <% if current_user.admin? %>
              <h2><%= link_to "Edit Product", edit_product_path(@product) %></h2>
            <% end %>
          <% end %>
        </div>
        <div class="col-4">
          <% if current_user %>
            <% if current_user.admin? %>
              <h2><%= link_to "Delete Product", product_path(@product), :data => {:confirm => "You sure?", :method => "delete"} %></h2>
            <% end %>
          <% end %>
        </div>
        <div class="col-4">
          <h2><%= link_to "Add Review", new_product_review_path(@product) %></h2>
        </div>
        <h1 class="linkBack"><%= link_to "Return to Products", products_path(@product) %></h1>
      </div>
    </div>
  </div>
  <%= render "layouts/userbar" %>
</body>






