<%= render "layouts/errors", :object => @product %>

<h2><%= form_for [@product] do |f| %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :name, class: "formLabel" %>
  <br>
  <%= f.number_field :cost, {class: "form-control number", :step => 0.01} %>
  <%= f.label :cost, class: "formLabel" %>
  <br>
  <%= f.text_field :country_of_origin, class: "form-control" %>
  <%= f.label :country_of_origin, class: "formLabel" %>
  <span id="newProductSubmit"><%= f.submit %></span>
<% end %></h2>
