<div id="userBar">
  <% if current_user %>
    <% if current_user.admin %>
      <div class="row">
        <div class="col">
          <%= current_user.email %> | <%= link_to "Sign out", '/signout' %>
        </div>
        <div class="col">
          <%= link_to "Administrators", '/admin' %>
        </div>
      </div>
    <% else %>
      <%= current_user.email %> | <%= link_to "Sign out", '/signout' %>
    <% end %>
  <% else %>
    <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
  <% end %>
  </div>
</div>